.spin{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 46%, rgb(0, 0, 0) 100%);
    position: fixed;
    top: 50vh;
    left: 50vw;

    animation: spinner 1s infinite;

}

@keyframes spinner {
    from {transform: rotate(0deg)}
    to {transform: rotate(180deg)}
}
